<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bafac">  <td>20/06/19 13:46:48</td>   <td>0</td> <td title="&gt;&gt;Mayur_Assignment_01.setUpMethod()[pri:0, instance:SampleAutomation.com.webapps.automate.Mayur_Assignment_01@2bbf4b8b]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/06/19 13:46:53</td>   <td>4557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mayur_Assignment_01.demoQAtest()[pri:0, instance:SampleAutomation.com.webapps.automate.Mayur_Assignment_01@2bbf4b8b]">demoQAtest</td> 
  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>20/06/19 13:47:06</td>   <td>18210</td> <td title="&lt;&lt;Mayur_Assignment_01.tearDownMethod()[pri:0, instance:SampleAutomation.com.webapps.automate.Mayur_Assignment_01@2bbf4b8b]">&lt;&lt;tearDownMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
</table>
